<header>
  		<div class="top-nav">
  			<div class="container">
  				<div class="pull-left"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></div>
  				<div class="pull-right"><a href="javascript:void(0)"><i class="fa fa-phone"> +91 9985082292</i></a> <a href="javascript:void(0)"><i class="fa fa-envelope-o"> martintailortpt@gmail.com</i></a></div>
  			</div>
  		</div>
  		<nav class="navbar navbar-white">
	  		<div class="container">
	  			<div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
			      	<a class="navbar-brand" href="#">MT</a>
			    </div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      	<ul class="nav nav-menu navbar-right">
				        <li><a href="javascript:void(0)">Home</a></li>
				        <li><a href="products.html">Products</a></li>
				        <li><a href="javascript:void(0)">Gallary</a></li>
				        <li><a href="javascript:void(0)">About Us</a></li>
				        <li><a href="javascript:void(0)">Contact Us</a></li>				        
			      	</ul>
			    </div><!-- /.navbar-collapse -->
	  		</div>
  		</nav>
  	</header>

<h1>
  {{title}}
</h1>
